* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
}

h1 {
  position: absolute;
  color: #ba60db;
  font-weight: 800;
  font-size: 140px;
  line-height: 143px;
  letter-spacing: -4px;
  z-index: 1;
  left: 50px;
  top: 100px;
}

h2 {
  font-size: 1.8em;
}

h3 {
  width: 50%;
  font-size: 1.5em;
}

p {
  margin: 0 0 20px 0;
  font-size: 1.1em;
}

a {
  text-decoration: none;
}

.page-wrapper {
  max-width: 900px;
  width: 100%;
  background-color: #efe5f3;
  margin: 0;
  padding: 50px 0 50px 50px;
}

nav li {
  list-style: none;
  text-decoration: none;
  padding: 10px;
  font: size 1.4em;
}


nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  max-width: 30%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  padding: 85px 100px 85px 200px;
}

.hero-banner {
  width: 100%;
  margin: 0;
  padding: 50px 0;
  height: 100vh;
}

.profile-pic {
  background-image: url(../images/profile-shirley-thompson.png);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  height: 80vh;
  margin-right: -200px;
}

.page-section {
  margin: 50px 0;
  width: 100%;
}
/* Main Section */

/* Common areas in Main Section */
#about,
#portfolio,
#skills,
#contact {
  margin: 120px 5% 15px 5%;
}

#work {
  margin: 150px 5% 20px 5%;
}

/* About section */

#about {
  margin: 0px 5%;
  min-height: 700px;
  height: 70vh;
  display: grid;
  grid-template-areas:
    'abt-1  abt-1'
    'abt-2  abt-2'
    'abt-3  abt-4';
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 60% 40%;
}


#descriptionAbout {
  grid-area: abt-1;
  max-width: 90%;
  flex-direction: column;
  align-items: flex-start;
}

#imgAbout {
  grid-area: abt-2;
  height: 260px;
  margin-right: -200px;
}

#secondaryAbout {

  display:none;
}

#imgAbout img {
  height: 260px;
}

#contactAbout a,
#contactAbout p {
  color: #fff;
  padding: 0 0 20px 0;
}

#contactAbout {
  grid-area: abt-4;
  cursor: pointer;
  align-items: center;
  margin: -20px -100px 0 0;
  position: relative;
  top: 0px;
  background: #ba60db;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutArea {
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  flex-direction: column;
  display: flex;
  position: relative;
  margin: 20px 0;
}

/* Work section */

#workGrid {
  margin: 0 -200px 0 0;
  display: grid;
  grid-template-rows: 400px;
  grid-template-columns: 34% 33% 33%;
  grid-template-areas:
    "challenge-02 challenge-01 prestudy"
  ;
}

#challenge-02 {
  grid-area: challenge-02;
  background-image: url("../images/portfolio.png");

}

#challenge-01 {
  grid-area: challenge-01;
  background-image: url("../images/refactor.png");
}

#prestudy {
  grid-area: prestudy;
  background-image: url("../images/study-guide.png");
}

.workGridArea {
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  justify-content: space-between;
  border: 1px solid rgb(119, 119, 146);
}

#workGrid .heading {
  margin-top: -30px;
  font-weight: 600;
  font-size: 1.2em;
}

/* Skills section */

#descriptionSkills {
  grid-area: skills-1;
  max-width: 90%;
  flex-direction: column;
  align-items: flex-start;
}

#descriptionWork {
  grid-area: work-1;
  max-width: 90%;
  flex-direction: column;
  align-items: flex-start;
}

#descriptionContact {
  grid-area: contact-1;
  max-width: 90%;
  flex-direction: column;
  align-items: flex-start;
}

/* Portfolio section */

#descriptionPortfolio {
  grid-area: work-1;
  max-width: 90%;
  flex-direction: column;
  align-items: flex-start;
}

#portfolioGrid {
  margin: 0 -200px 0 0;
  display: grid;
  grid-template-rows: 180px 180px 180px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "gui-pf  css-pf  git-pf"
    "graphics-pf  graphics-pf  git-pf"
    "html-pf  html-pf  html-pf"
  ;
}

#gui-pf {
  grid-area: gui-pf;
  background-image: url("../images/gui_img.jpg");
}

#css-pf {
  grid-area: css-pf;
  background-image: url("../images/css_img.jpg");
}

#graphics-pf {
  grid-area: graphics-pf;
  background-image: url("../images/graphics.jpg");
}

#git-pf {
  grid-area: git-pf;
  background-image: url("../images/git_img.jpg");
}

#html-pf {
  grid-area: html-pf;
  background-image: url("../images/html_img.jpg");

}

.portfolioGridArea {
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

#portfolio .heading {
  font-weight: 600;
  font-size: 1.2em;
  background: rgba(255,255,255,0.7);
  padding:0 5px;
}



/* Contact section */
input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
    /* Allow  vertical resize of the textarea */
}

/* Submit button */
input[type=submit] {
  background-color: #ba60db;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Hovering over button changes colour */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Form styles */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/*---------- Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  /* Styles */
  h1 {
    font-size: 40px;
    line-height: 43px;
    letter-spacing: 1px;
    left: 60px;
    top: 110px;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    width: 100%;
    font-size: 1.2em;
  }


  .page-wrapper {
    max-width: 450px;
    width: 100%;
    padding: 20px;
  }
/* Hero mobile section */
  .hero-banner {
    height: 70vh;
  }

  .profile-pic {
    background-position: 50% 0%;
    margin-right: 0;
  }

  #imgAbout {
    display: none;
  }

/* Nav mobile section */
  nav {
    position: fixed;
    top: 0;
    max-width: 100%;
    width: 100%;
    height: 80px;
    z-index: 40;
    overflow: hidden;
    background: azure;
    padding: 20px;
  }

  nav ul {
    display: flex;
    padding-left: 0;
  }

  nav ul li {
      padding: 0 15px 0 0;
  }
  
    /* About mobile section */
  #contactAbout {
      margin: 20px 0px 0 -200px;
    }
  
    /* Work mobile section */
  
  #workGrid {
      margin: 0;
      display: grid;
      grid-template-rows: 400px 400px 400px;
      grid-template-columns: 1fr;
      grid-template-areas:
        "challenge-02"
        "challenge-01"
        "prestudy"
      ;
    }

  .workGridArea,
  .portfolioGridArea {
    margin: 30px 0 30px 0;
  }

/* Portfolio mobile section */
  #portfolioGrid {
    margin: 0;
    display: grid;
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "gui-pf "
      "css-pf"
      "git-pf"
      "graphics-pf"
      "html-pf ";
  }

  #about, #work, #skills, #portfolio, #contact {
    margin: 0 5% 15px 0;
    padding-top: 90px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 480px) and (max-device-width : 811px) {

   /* Styles */
   h1 {
    font-size: 60px;
    line-height: 65px;
    letter-spacing: 1px;
    left: 60px;
    top: 110px;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    width: 100%;
    font-size: 1.2em;
  }


  .page-wrapper {
    max-width: 810px;
    width: 100%;
    padding: 20px;
  }
/* Hero mobile section */
  .hero-banner {
    height: 70vh;
  }

  .profile-pic {
    background-position: 50% 0%;
    margin-right: 0;
  }

  #imgAbout {
display:none;
  }

/* Nav mobile section */
  nav {
    position: fixed;
    top: 0;
    max-width: 100%;
    width: 100%;
    height: 80px;
    z-index: 40;
    overflow: hidden;
    background: azure;
    padding: 20px;
  }

  nav ul {
    display: flex;
    padding-left: 0;
    justify-content: space-evenly;
  }

  nav ul li {
      padding: 0 15px 0 0;
  }
  
    /* About mobile section */
  #contactAbout {
      margin: 20px 0px 0 -200px;
    }
  
    /* Work mobile section */
  
  #workGrid {
      margin: 0;
      display: grid;
      grid-template-rows: 500px 500px 500px;
      grid-template-columns: 1fr;
      grid-template-areas:
        "challenge-02"
        "challenge-01"
        "prestudy"
      ;
    }

  .workGridArea,
  .portfolioGridArea {
    margin: 30px 0 30px 0;
  }

/* Portfolio mobile section */
  #portfolioGrid {
    margin: 0;
    display: grid;
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "gui-pf" 
      "css-pf"
      "git-pf" 
      "graphics-pf"
      "html-pf ";
  }

  #about, #work, #skills, #portfolio, #contact {
    margin: 0 5% 15px 0;
    padding-top: 90px;
  }
}