* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
}
h1{
  
    position: absolute;
    color: #ba60db;
    font-weight: 800;
    font-size: 140px;
    line-height: 143px;
    letter-spacing: -4px;
    z-index: 1;   
    left: 50px;    
}

h2 {
  font-size: 1.8em;
}

h3 {
  width: 50%;
  font-size: 1.5em;
}


p {
  margin: 0 0 20px 0;
  font-size:1.1em;

}
a{
  text-decoration: none;
}
.page-wrapper{
  max-width:900px;
  width:100%;
  background-color:#efe5f3;
  margin:0;
  padding:50px 0 50px 50px;
}

nav li{
  list-style: none;
  text-decoration: none;
  padding:10px;
  font: size 1.4em;
}


nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  max-width: 30%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  padding: 85px 100px 85px 200px;
}

.hero-banner{
  width:100%;
  margin:0;
  padding:50px 0;
  height:100vh;
}
.profile-pic {
  background-image: url(../images/profile-shirley-thompson.png);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  height: 80vh;
  margin-right: -200px;
}

#about{
  margin: 0px 5%;
  min-height:700px;
  height:70vh;
  display:grid;
  grid-template-areas:
  'abt-1  abt-1'
  'abt-2  abt-2'
  'abt-3  abt-4';
  grid-template-rows:1fr 1fr 1fr;
  grid-template-columns:60% 40%;
}

/* Category Grid CSS */

#descriptionAbout{
  grid-area:abt-1 ; 
  max-width:90%;
  flex-direction:column;
  align-items: flex-start;
  }
#imgAbout{
  grid-area:abt-2;
  height:260px;
  margin-right:-200px;
  }

#secondaryAbout{
  grid-area:abt-3 ; 
  flex-direction:column;
  align-items: flex-start;
  }

#imgAbout img{ 
  height:260px;
      }

  #contactAbout a, #contactAbout p{
    color:#fff;
    padding:0 0 20px 0;
  }


  #contactAbout {
    grid-area: abt-4;
    cursor: pointer;
    align-items: center;
    margin: -20px -100px 0 0;
    position: relative;
    top: 0px;
    background: #ba60db;
    padding: 30px;
  
  }
  .aboutArea{
  background-position:right;
  background-repeat:no-repeat;
  background-size: contain;
  align-items:center;
  flex-direction:column;
  display:flex;
  position:relative;
  margin:20px 0;
 

  }

  .page-section{margin:50px 0;width:100%;}
  
 
  #descriptionSkills{
    grid-area:skills-1 ; 
    max-width:90%;
    flex-direction:column;
    align-items: flex-start;
  }
  #descriptionPortfolio{
    grid-area:work-1 ; 
    max-width:90%;
    flex-direction:column;
    align-items: flex-start;
  }

  #descriptionWork{
    grid-area:work-1 ; 
    max-width:90%;
    flex-direction:column;
    align-items: flex-start;
  }
  
  #descriptionContact{
    grid-area:contact-1 ; 
    max-width:90%;
    flex-direction:column;
    align-items: flex-start;
  }

  #portfolioGrid {
    margin: 0 -200px 0 0;
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "gui-pf  css-pf  git-pf"
    "graphics-pf  graphics-pf  git-pf"
    "html-pf  html-pf  html-pf"
    ;
  }
  
  #html-pf {
    grid-area: html-pf;
    background-image: url("../images/html_img.jpg");
  
  }
  #css-pf  {
    grid-area: css-pf;
    background-image: url("../images/css_img.jpg");
  }
  
  #graphics-pf  {
    grid-area: graphics-pf;
    background-image: url("../images/graphics.jpg");
  }
  
  #git-pf  {
    grid-area: git-pf;
    background-image: url("../images/git_img.jpg");
  }
  
  #gui-pf  {
    grid-area: gui-pf;
    background-image: url("../images/gui_img.jpg");
  }
  
  .portfolioGridArea {
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
  }
  
  #about,  #portfolio,  #skills, #contact{
    margin: 0 5% 150px 5%;
  }

  #work{
    margin-top: 200px;
  }
  


  #workGrid {
    margin: 0 -200px 0 0;
    display: grid;
    grid-template-rows: 400px;
    grid-template-columns:34% 33% 33%;
    grid-template-areas:
    "challenge-02 challenge-01 prestudy"
    ;
  }
  
  #challenge-02 {
    grid-area: challenge-02;
    background-image: url("../images/portfolio.png");
  
  }
  #challenge-01  {
    grid-area: challenge-01;
    background-image: url("../images/refactor.png");
  }
  
  #prestudy  {
    grid-area: prestudy;
    background-image: url("../images/study-guide.png");
  }
  
  
  .workGridArea {
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    justify-content: space-between;
    border: 1px solid rgb(119, 119, 146);
  }

  #workGrid .heading{
    margin-top: -30px;
    font-weight: 600;
    font-size:1.2em;
  }