* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 30px 0;
}
h1{
  
    position: absolute;
    color: #ba60db;
    font-weight: 800;
    font-size: 140px;
    line-height: 143px;
    letter-spacing: -4px;
    z-index: 1;   
    left: 50px;    
}

h3{width:50%;}


p {
  margin: 0 0 20px 0;
  font-size:16px;

}
a{
  text-decoration: none;
}
.page-wrapper{
  max-width:900px;
  width:100%;
  background-color:#efe5f3;
  margin:0;
  padding:50px 0 50px 50px;
}

/*.page-wrapper > section:first-of-type {
  margin-top: 0;
}

.page-wrapper > section:last-of-type {
  padding-bottom: 85px;
}*/

nav li{
  list-style: none;
  text-decoration: none;
  padding:10px;
  font-size:16px;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  max-width: 30%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  padding: 85px 100px 85px 200px;
}

.hero-banner{
  width:100%;
  margin:0;
  padding:50px 0;
  height:100vh;
}
.profile-pic {
  background-image: url(../images/profile-shirley-thompson.png);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  height: 80vh;
  margin-right: -200px;
}

#about{
  margin: 0px 5%;
  min-height:700px;
  height:70vh;
  display:grid;
  grid-template-areas:
  'abt-1  abt-1'
  'abt-2  abt-2'
  'abt-3  abt-4';
  grid-template-rows:1fr 1fr 1fr;
  grid-template-columns:60% 40%;
}

/* Category Grid CSS */

#descriptionAbout{
  grid-area:abt-1 ; 
  max-width:90%;
  flex-direction:column;
  align-items: flex-start;
  }
#imgAbout{
  grid-area:abt-2;
  height:200px;
  margin-right:-200px;
  }

#secondaryAbout{
  grid-area:abt-3 ; 
  flex-direction:column;
  align-items: flex-start;
  }

#imgAbout img{ 
  height:260px;
      }

#contactAbout{
  grid-area:abt-4;  
  cursor: pointer;
  display:flex;
  flex-direction:column;
  align-items: center;
  }

  .aboutArea{
  background-position:right;
  background-repeat:no-repeat;
  background-size: contain;
  align-items:center;
  display:flex;
  position:relative;
  margin:20px 0;
 

  }

  .page-section{margin:50px 0;width:100%;}
  
 
  #descriptionSkills{
    grid-area:skills-1 ; 
    max-width:90%;
    flex-direction:column;
    align-items: flex-start;
  }
  #descriptionPortfolio{
    grid-area:work-1 ; 
    max-width:90%;
    flex-direction:column;
    align-items: flex-start;
  }
  #descriptionHobbies{
    grid-area:hobbies-1 ; 
    max-width:90%;
    flex-direction:column;
    align-items: flex-start;
  }
  #descriptionContact{
    grid-area:contact-1 ; 
    max-width:90%;
    flex-direction:column;
    align-items: flex-start;
  }

  #portfolioGrid {
    margin: 0 -200px 0 0;
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "gui-pf  css-pf  git-pf"
    "graphics-pf  graphics-pf  git-pf"
    "html-pf  html-pf  html-pf"
    ;
  }
  
  #html-pf {
    grid-area: html-pf;
    background-image: url("../images/html_img.jpg");
  
  }
  #css-pf  {
    grid-area: css-pf;
    background-image: url("../images/css_img.jpg");
  }
  
  #graphics-pf  {
    grid-area: graphics-pf;
    background-image: url("../images/graphics.jpg");
  }
  
  #git-pf  {
    grid-area: git-pf;
    background-image: url("../images/git_img.jpg");
  }
  
  #gui-pf  {
    grid-area: gui-pf;
    background-image: url("../images/gui_img.jpg");
  }
  
  .portfolioGridArea {
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
  }
  
  #about, #skills, #portfolio, #contact{
    margin: 0px 5%;
  }


  